{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * LiteSpeed Cache plugin for Craft CMS 3.x
 *
 * LiteSpeed Cache index.twig
 *
 * @author    Thoughtful Web
 * @copyright Copyright (c) 2018 Thoughtful Web
 * @link      https://thoughtfulweb.com
 * @package   LitespeedCache
 * @since     0.0.1
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "LiteSpeed Cache" %}

{% set pluginCpUrl = url('lite-speed-cache') %}

{% set content %}
    <h2>Force Clear LiteSpeed Cache</h2>
    <p>This will remove all items in your LiteSpeed Cache folder.</p>
    <form method="post" action="">
        {{ csrfInput() }}
        <input type="hidden" name="action" value="lite-speed-cache/litespeed-cache/force-clear" />
        {{ redirectInput('lite-speed-cache') }}
        <div class="buttons">
          <input type="submit" class="btn submit" value="{{ 'Clear LiteSpeed Cache'|t }}">
        </div>
    </form>
{% endset %}
